@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background:linear-gradient(grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
